<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading" jhiTranslate="servicesenligneApp.order.home.createOrEditLabel">
        Create or edit a Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.order.purchaseDate" for="field_purchaseDate"
            >Purchase Date</label
          >
          <div class="d-flex">
            <input
              id="field_purchaseDate"
              data-cy="purchaseDate"
              type="datetime-local"
              class="form-control"
              name="purchaseDate"
              formControlName="purchaseDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.order.contactDetails" for="field_contactDetails"
            >Contact Details</label
          >
          <select
            class="form-control"
            id="field_contactDetails"
            data-cy="contactDetails"
            name="contactDetails"
            formControlName="contactDetails"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                contactDetailsOption.id === editForm.get('contactDetails')!.value?.id
                  ? editForm.get('contactDetails')!.value
                  : contactDetailsOption
              "
              *ngFor="let contactDetailsOption of contactDetailsSharedCollection; trackBy: trackContactDetailsById"
            >
              {{ contactDetailsOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
