<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="form1">
    <ng-template matStepLabel>Billing address</ng-template>
    <form [formGroup]="form1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label for="first-name">First name</mat-label>
              <input matInput placeholder="ex. Jean" id="first-name" formControlName="firstName" pattern="[A-Z,\-,a-z]*" required />
              <mat-error *ngIf="form1.controls['firstName'].errors?.required">First name required</mat-error>
              <mat-error *ngIf="form1.controls['firstName'].errors?.pattern">No number</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label for="last-name">Last name</mat-label>
              <input matInput placeholder="ex. Dupont" id="last-name" formControlName="lastName" pattern="[A-Z,\-,a-z]*" required />
              <mat-error *ngIf="form1.controls['firstName'].errors?.required">Last name required</mat-error>
              <mat-error *ngIf="form1.controls['firstName'].errors?.pattern">No number</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label for="adress1">Adress 1</mat-label>
              <input matInput id="adress1" formControlName="address1" required />
              <mat-error *ngIf="form1.controls['address1'].errors?.required">Address required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label for="adress2">Adress 2</mat-label>
              <input matInput id="adress2" formControlName="address2" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select id="country" formControlName="country" required>
                <mat-option value="" selected></mat-option>
                <mat-option value="FRANCE">France</mat-option>
                <mat-option value="ENGLAND">England</mat-option>
                <mat-option value="ITALY">Italia</mat-option>
                <mat-option value="SPAIN">Espana</mat-option>
                <mat-option value="GERMANY">Germany</mat-option>
              </mat-select>
              <mat-error *ngIf="form1.controls['country'].errors?.required">Country required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill">
              <mat-label for="postal-code">Postal code</mat-label>
              <input matInput id="postal-code" formControlName="postalCode" required />
              <mat-error *ngIf="form1.controls['postalCode'].errors?.required">Postal code required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field appearance="fill">
              <mat-label for="city">City</mat-label>
              <input matInput id="city" formControlName="city" pattern="[A-Z,\-,a-z]*" required />
              <mat-error *ngIf="form1.controls['city'].errors?.required">Postal code required</mat-error>
              <mat-error *ngIf="form1.controls['firstName'].errors?.pattern">No number</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form2">
    <ng-template matStepLabel>Payment</ng-template>
    <form [formGroup]="form2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label for="cardName">Name on the card</mat-label>
              <input matInput id="cardName" formControlName="cardName" pattern="[A-Z,\-,a-z]*" required />
              <mat-error *ngIf="form2.controls['cardName'].errors?.required">Name on the card required</mat-error>
              <mat-error *ngIf="form2.controls['cardName'].errors?.pattern">No number</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label for="cardNumber">Card Number</mat-label>
              <input
                matInput
                id="cardNumber"
                formControlName="cardNumber"
                type="numeric"
                numberOnly
                maxlength="16"
                minlength="16"
                pattern="[0-9]*"
                required
              />
              <mat-error *ngIf="form2.controls['cardNumber'].errors?.required">Number of the card required</mat-error>
              <mat-error *ngIf="form2.controls['cardNumber'].errors?.minlength">Number of the card must be 16 digit long</mat-error>
              <mat-error *ngIf="form2.controls['cardNumber'].errors?.pattern">Digit only</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <mat-form-field appearance="fill">
              <mat-label>Month</mat-label>
              <mat-select id="cardExpirationMonth" formControlName="cardExpirationMonth" required>
                <mat-option value="" selected></mat-option>
                <span *ngFor="let i of this.months">
                  <mat-option value="{{ i }}">{{ i }}</mat-option>
                </span>
              </mat-select>
              <mat-error *ngIf="form2.controls['cardExpirationMonth'].errors?.required">Expiration month of the card required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="fill">
              <mat-label>Year</mat-label>
              <mat-select id="cardExpirationYear" formControlName="cardExpirationYear" required>
                <mat-option value="" selected></mat-option>
                <span *ngFor="let i of this.years">
                  <mat-option value="{{ i }}">{{ i }}</mat-option>
                </span>
              </mat-select>
              <mat-error *ngIf="form2.controls['cardExpirationYear'].errors?.required">Expiration year of the card required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <mat-form-field appearance="fill">
              <mat-label for="cardValidationCode">CVC</mat-label>
              <input
                matInput
                id="cardValidationCode"
                formControlName="cardValidationCode"
                type="numeric"
                numberOnly
                maxlength="3"
                minlength="3"
                required
                pattern="[0-9]*"
              />
              <mat-error *ngIf="form2.controls['cardValidationCode'].errors?.required">CVC required</mat-error>
              <mat-error *ngIf="form2.controls['cardValidationCode'].errors?.minlength">CVC must be 3 digit long</mat-error>
              <mat-error *ngIf="form2.controls['cardValidationCode'].errors?.pattern">Digit only</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-2">
            <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="accent" (click)="createOrder()" matStepperNext>Finish !</button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done !</ng-template>
    <div>Payment done !<br />Your product will be sent by email.</div>
  </mat-step>
</mat-stepper>
