<mat-toolbar fxLayout="row" color="primary" fxLayoutAlign="center center">
  <button mat-button>Legal terms</button> - <button mat-button>Contact</button> -
  <button mat-button><fa-icon [icon]="['fab', 'twitter']"></fa-icon> @uberelo</button>
  <button mat-button><fa-icon [icon]="['fab', 'instagram']"></fa-icon> @uberelo</button>
  <button mat-button><fa-icon [icon]="['fab', 'facebook']"></fa-icon> @uberelo</button>
  <button mat-button><fa-icon [icon]="['fab', 'linkedin']"></fa-icon> @uberelo</button>
</mat-toolbar>
