<p>Enter your information</p>
<form (ngSubmit)="onSubmit()">
  <div class="form-group col-md-5">
    <label for="first-name"> First name</label>
    <input id="first-name" class="form-control" name="first-name" required [(ngModel)]="model.firstName" />

    <label for="last-name"> Last name</label>
    <input id="last-name" class="form-control" name="last-name" required [(ngModel)]="model.lastName" />

    <label for="adress1"> Adress 1</label>
    <input id="adress1" class="form-control" name="adress1" required [(ngModel)]="model.address1" />

    <label for="adress2"> Adress 2</label>
    <input id="adress2" class="form-control" name="adress2" [(ngModel)]="model.address2" />

    <label for="postal-code"> Postal code</label>
    <input id="postal-code" class="form-control" name="postal-code" required [(ngModel)]="model.postalCode" />

    <label for="city"> City</label>
    <input id="city" class="form-control" name="city" required [(ngModel)]="model.city" />

    <button mat-stroked-button type="submit" class="btn btn-success">validate</button>
  </div>
</form>
