<p>Enter your information</p>

<div class="form-group col-md-5">
  <label for="first-name"> First name</label>
  <input type="text" id="first-name" class="form-control" name="first-name" ngModel />

  <label for="last-name"> Last name</label>
  <input type="text" id="last-name" class="form-control" name="last-name" ngModel />

  <label for="adress1"> Adress 1</label>
  <input type="text" id="adress1" class="form-control" name="adress1" ngModel />

  <label for="adress2"> Adress 2</label>
  <input type="text" id="adress2" class="form-control" name="adress2" ngModel />

  <label for="postal-code"> Postal code</label>
  <input type="integer" id="postal-code" class="form-control" name="postal-code" ngModel />

  <label for="city"> City</label>
  <input type="text" id="city" class="form-control" name="city" ngModel />

  <label for="telephon-number"> Telephon number </label>
  <input type="text" id="telephon-number" class="form-control" name="telephon-number" ngModel />

  <button mat-stroked-button class="btn btn-primary" type="virgil1submit">validate</button>
</div>
