<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="servicesenligneApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.logo" for="field_logo">Logo</label>
          <input type="text" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.game" for="field_game">Game</label>
          <select class="form-control" name="game" formControlName="game" id="field_game" data-cy="game">
            <option [ngValue]="null">{{ 'servicesenligneApp.Game.null' | translate }}</option>
            <option value="LEAGUE_OF_LEGENDS">{{ 'servicesenligneApp.Game.LEAGUE_OF_LEGENDS' | translate }}</option>
            <option value="OVERWATCH">{{ 'servicesenligneApp.Game.OVERWATCH' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.productType" for="field_productType"
            >Product Type</label
          >
          <select class="form-control" name="productType" formControlName="productType" id="field_productType" data-cy="productType">
            <option [ngValue]="null">{{ 'servicesenligneApp.ProductType.null' | translate }}</option>
            <option value="GAME_ACCOUNT">{{ 'servicesenligneApp.ProductType.GAME_ACCOUNT' | translate }}</option>
            <option value="BOOSTING">{{ 'servicesenligneApp.ProductType.BOOSTING' | translate }}</option>
            <option value="COACHING">{{ 'servicesenligneApp.ProductType.COACHING' | translate }}</option>
            <option value="INTING">{{ 'servicesenligneApp.ProductType.INTING' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.region" for="field_region">Region</label>
          <select class="form-control" name="region" formControlName="region" id="field_region" data-cy="region">
            <option [ngValue]="null">{{ 'servicesenligneApp.Region.null' | translate }}</option>
            <option value="EUW">{{ 'servicesenligneApp.Region.EUW' | translate }}</option>
            <option value="NA">{{ 'servicesenligneApp.Region.NA' | translate }}</option>
            <option value="KR">{{ 'servicesenligneApp.Region.KR' | translate }}</option>
            <option value="EUNE">{{ 'servicesenligneApp.Region.EUNE' | translate }}</option>
            <option value="OCE">{{ 'servicesenligneApp.Region.OCE' | translate }}</option>
            <option value="JP">{{ 'servicesenligneApp.Region.JP' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.accountLevel" for="field_accountLevel"
            >Account Level</label
          >
          <input
            type="number"
            class="form-control"
            name="accountLevel"
            id="field_accountLevel"
            data-cy="accountLevel"
            formControlName="accountLevel"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.accountRank" for="field_accountRank"
            >Account Rank</label
          >
          <select class="form-control" name="accountRank" formControlName="accountRank" id="field_accountRank" data-cy="accountRank">
            <option [ngValue]="null">{{ 'servicesenligneApp.Rank.null' | translate }}</option>
            <option value="UNRANKED">{{ 'servicesenligneApp.Rank.UNRANKED' | translate }}</option>
            <option value="IRON">{{ 'servicesenligneApp.Rank.IRON' | translate }}</option>
            <option value="BRONZE">{{ 'servicesenligneApp.Rank.BRONZE' | translate }}</option>
            <option value="SILVER">{{ 'servicesenligneApp.Rank.SILVER' | translate }}</option>
            <option value="GOLD">{{ 'servicesenligneApp.Rank.GOLD' | translate }}</option>
            <option value="PLATINUM">{{ 'servicesenligneApp.Rank.PLATINUM' | translate }}</option>
            <option value="DIAMOND">{{ 'servicesenligneApp.Rank.DIAMOND' | translate }}</option>
            <option value="MASTER">{{ 'servicesenligneApp.Rank.MASTER' | translate }}</option>
            <option value="CHALLENGER">{{ 'servicesenligneApp.Rank.CHALLENGER' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="servicesenligneApp.product.targetRank" for="field_targetRank">Target Rank</label>
          <select class="form-control" name="targetRank" formControlName="targetRank" id="field_targetRank" data-cy="targetRank">
            <option [ngValue]="null">{{ 'servicesenligneApp.Rank.null' | translate }}</option>
            <option value="UNRANKED">{{ 'servicesenligneApp.Rank.UNRANKED' | translate }}</option>
            <option value="IRON">{{ 'servicesenligneApp.Rank.IRON' | translate }}</option>
            <option value="BRONZE">{{ 'servicesenligneApp.Rank.BRONZE' | translate }}</option>
            <option value="SILVER">{{ 'servicesenligneApp.Rank.SILVER' | translate }}</option>
            <option value="GOLD">{{ 'servicesenligneApp.Rank.GOLD' | translate }}</option>
            <option value="PLATINUM">{{ 'servicesenligneApp.Rank.PLATINUM' | translate }}</option>
            <option value="DIAMOND">{{ 'servicesenligneApp.Rank.DIAMOND' | translate }}</option>
            <option value="MASTER">{{ 'servicesenligneApp.Rank.MASTER' | translate }}</option>
            <option value="CHALLENGER">{{ 'servicesenligneApp.Rank.CHALLENGER' | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
