<h1>Your cart :</h1>
<!-- Vérifie si le panier est vide, si oui -> emptyCartBlock, sinon affiche le panier -->
<div class="container-fluid" *ngIf="cartItems.length > 0; else emptyCartBlock">
  <div class="row" *ngFor="let item of cartItems">
    <div class="col-md-3">LOGO.jpg</div>
    <div class="col-md-7">
      <h4>{{ item.product.name }}</h4>
      <p>{{ item.product.description }}</p>
    </div>
    <div class="col-md-2">
      <p>{{ item.product.price | currency: 'EUR' }}</p>
    </div>
  </div>
</div>

<ng-template #emptyCartBlock>
  <h3>Your cart is empty !</h3>
</ng-template>
