<div class="row buttonBox">
  <div *ngFor="let enum of Games | keyvalue">
    <button
      mat-stroked-button
      *ngIf="games !== enum.value"
      (click)="updateGames(enum.value)"
      value="{{ enum.value }}"
      jhiTranslate="servicesenligneApp.Game.{{ enum.key }}"
    >
      {{ enum.value }}
    </button>
    <button
      mat-flat-button
      *ngIf="games === enum.value"
      (click)="updateGames(enum.value)"
      value="{{ enum.value }}"
      class="mat-elevation-z8 selectedButton"
      jhiTranslate="servicesenligneApp.Game.{{ enum.key }}"
    >
      {{ enum.value }}
    </button>
  </div>
</div>
<div *ngIf="selectProductType" class="row buttonBox">
  <div *ngFor="let enum of ProductTypes | keyvalue">
    <button
      mat-stroked-button
      *ngIf="!productTypes.includes(enum.value)"
      jhiTranslate="servicesenligneApp.ProductType.{{ enum.key }}"
      (click)="updateProductTypes(enum.value)"
      value="{{ enum.value }}"
    >
      {{ enum.value }}
    </button>
    <button
      mat-flat-button
      *ngIf="productTypes.includes(enum.value)"
      (click)="updateProductTypes(enum.value)"
      value="{{ enum.value }}"
      jhiTranslate="servicesenligneApp.ProductType.{{ enum.key }}"
      class="mat-elevation-z8 selectedButton"
    >
      {{ enum.value }}
    </button>
  </div>
</div>
