@use '~@angular/material' as mat;
@use 'sass:map';
@import '~@angular/material/theming';
@import 'src/main/webapp/content/scss/styles.scss';

@include mat-core();

$color-config: mat.get-color-config($my-theme);

$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');
$warn-palette: map.get($color-config, 'warn');
$is-dark-theme: map.get($color-config, 'is-dark');

$app-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);
  $warn: map-get($app-theme, warn);

  /*.mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }*/

  .testAccent {
    color: mat-color($accent);
  }
}

// Include the mixin
@include mix-app-theme($app-theme);
