@use '~@angular/material' as mat;
@use 'sass:map';
@import '~@angular/material/theming';
@import 'src/main/webapp/content/scss/styles.scss';

@include mat-core();

$app-theme: mat-dark-theme($my-theme);

@mixin mix-app-theme($app-theme) {
  $accent: map-get($app-theme, accent);

  .selectedButton {
    color: mat-color($accent);
  }
}

// Include the mixin
@include mix-app-theme($app-theme);

button {
  font-size: medium;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
