<p>select-product-categories works!</p>
{{ games }}
<mat-button-toggle-group name="games" [ngModel]="games" (change)="updateGames($event.value)" aria-label="games">
  <mat-button-toggle *ngFor="let enum of Games | keyvalue" value="{{ enum.value }}">{{ enum.value }}</mat-button-toggle>
</mat-button-toggle-group>

{{ productTypes }}

<mat-button-toggle-group
  name="productTypes"
  [ngModel]="productTypes"
  (change)="updateProductTypes($event.value)"
  aria-label="productTypes"
  multiple
>
  <mat-button-toggle *ngFor="let enum of ProductTypes | keyvalue" value="{{ enum.value }}">{{ enum.value }}</mat-button-toggle>
</mat-button-toggle-group>
