<mat-card class="mat-elevation-z4 productCard" fxLayout="column" fxLayoutAlign="space-between center">
  <mat-card-title-group>
    <mat-card-title>
      {{ stock?.product?.name }}
    </mat-card-title>

    <mat-card-subtitle fxLayout="row wrap">
      <div jhiTranslate="servicesenligneApp.ProductType.{{ product?.productType ?? 'N/A' }}">
        {{ product?.productType ?? 'N/A' }}
      </div>
      &nbsp; - &nbsp;
      <div jhiTranslate="servicesenligneApp.Game.{{ product?.game ?? 'N/A' }}">
        {{ product?.game ?? 'N/A' }}
      </div></mat-card-subtitle
    >
  </mat-card-title-group>

  <mat-card-content class="contentBox" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="cropA">
      <img src="{{ product?.logo }}" alt="Logo {{ product?.name }}" height="100%" />
    </div>
    <div *ngIf="product?.region" class="contentRow" fxLayout="row wrap" fxLayoutAlign="space-between">
      <div>Region:</div>
      <div>{{ product?.region }}</div>
    </div>
    <div *ngIf="product?.accountLevel" class="contentRow" fxLayout="row wrap" fxLayoutAlign="space-between">
      <div>Account Level:</div>
      <div>{{ product?.accountLevel }}</div>
    </div>
    <div *ngIf="product?.accountRank" class="contentRow" fxLayout="row wrap" fxLayoutAlign="space-between">
      <div>Account Rank:</div>
      <div>{{ product?.accountRank }}</div>
    </div>
    <div *ngIf="product?.targetRank" class="contentRow" fxLayout="row wrap" fxLayoutAlign="space-between">
      <div>Target Rank:</div>
      <div>{{ product?.targetRank }}</div>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end">
    <button mat-stroked-button color="accent" (click)="goToProduct()">
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-flat-button color="accent" [disabled]="productLeftInStock <= 0" (click)="addToCart()">
      <ng-container *ngIf="productLeftInStock > 0">
        <mat-icon>add_shopping_cart</mat-icon>
        {{ product?.price | currency: 'EUR' }}
      </ng-container>
      <ng-container *ngIf="productLeftInStock <= 0">
        <mat-icon>production_quantity_limits</mat-icon>
        Out of stock
      </ng-container>
    </button>
  </mat-card-actions>
</mat-card>
