@use '~@angular/material' as mat;
@use 'sass:map';
@import '~@angular/material/theming';
@import 'src/main/webapp/content/scss/styles.scss';
/* ==========================================================================
Main page styles
========================================================================== */
.homeBox {
  width: 100%;
  height: 80vh;
}
.logoBox {
  height: 50%;
  width: 100%;
}

.logo-img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.buttonBox {
  width: 100%;
}

@include mat-core();

$app-theme: mat-light-theme($my-theme);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);

  .slogan {
    text-align: center;
    color: mat-color($primary);
  }
}

// Include the mixin
@include mix-app-theme($app-theme);
