<h1>Orders hitory</h1>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let order of orders">
    <mat-expansion-panel-header>
      <mat-panel-title class="exampleAlign">
        Order purchased on {{ order.purchaseDate ? order.purchaseDate.format('DD/MM/YYYY') : 'N/A' }}
      </mat-panel-title>
      <mat-panel-description>
        Total price :
        <div class="exampleAlign">Commande Number : {{ order.id }}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container-fluid">
      <div *ngFor="let orderLine of order.orderLines; let lastItem = last">
        <div class="row productBox">
          <div class="col-md-3">
            <img mat-card-sm-image alt="product image" />
          </div>
          <div class="col-md-9 textContentBox">
            <div class="col-md-6">
              <h6>
                <div class="row">
                  {{ orderLine?.product?.name }}
                </div>
                <small>
                  <div class="row">
                    <div jhiTranslate="productType.{{ orderLine?.product?.productType ? orderLine?.product?.productType : 'N/A' }}">
                      {{ orderLine?.product?.productType ? orderLine?.product?.productType : 'N/A' }}
                    </div>
                    &nbsp; - &nbsp;
                    <div jhiTranslate="games.{{ orderLine?.product?.game ? orderLine?.product?.game : 'N/A' }}">
                      {{ orderLine?.product?.game ? orderLine?.product?.game : 'N/A' }}
                    </div>
                  </div>
                </small>
              </h6>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-3 buttonBox">
              <button mat-flat-button color="accent" routerLink="/product/{{ orderLine?.product?.id }}">Go to product</button>
            </div>
          </div>
        </div>
        <mat-divider *ngIf="!lastItem"></mat-divider>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
