.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.alignment {
  align-items: center;
}

.expansionBox {
  margin-bottom: 20px !important;
}

.productBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.emptyOrders {
  margin-top: 20vh;
}

.textContentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonBox {
  display: flex;
  align-items: flex-end;
}

.loadBox {
  margin-top: 16px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
