<div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-evenly center">
  <ng-container *ngIf="products.length > 0; else noProduct">
    <jhi-product-item *ngFor="let product of products" [stock]="product"></jhi-product-item>
  </ng-container>
  <ng-template #noProduct>
    <h2>Nothing to see here for now</h2>
  </ng-template>
</div>

<div class="spinner" *ngIf="loadingPages">
  <mat-spinner> </mat-spinner>
</div>

<div *ngIf="showMoreButton && !isLastPage" fxLayout="row" fxLayoutAlign="end" class="buttonBox">
  <button mat-flat-button color="accent" (click)="loadNewPage()">Load More</button>
</div>
