@use '~@angular/material' as mat;

@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-myaccent: (
  50: #f2e4f0,
  100: #debbd8,
  200: #c98dbf,
  300: #b35fa5,
  400: #a23d91,
  500: #921b7e,
  600: #8a1876,
  700: #7f146b,
  800: #751061,
  900: #63084e,
  A100: #ff95e3,
  A200: #ff62d6,
  A400: #ff2fc9,
  A700: #ff15c2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-myprimary: (
  50: #e6e4f2,
  100: #c1bbde,
  200: #978dc9,
  300: #6d5fb3,
  400: #4e3da2,
  500: #2f1b92,
  600: #2a188a,
  700: #23147f,
  800: #1d1075,
  900: #120863,
  A100: #9d95ff,
  A200: #6d62ff,
  A400: #3e2fff,
  A700: #2715ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$my-primary: mat.define-palette($md-myprimary);
$my-accent: mat.define-palette($md-myaccent);
// $my-warn: mat.define-palette($md-mywarn);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);
